<div class='grid-1 left-menu-inner col-lg-1'>
    <h6>Navigation</h6>
    <ul class='ul grid-1 col-lg-1-12'>
        <li class='col-lg-1'>
            <a href='/admin/pages'>Pages</a>
        </li>
        <li class='col-lg-1'>
            <a href='/admin/categories'>Categories</a>
        </li>
        <li class='col-lg-1'>
            <a href='/admin/categories'>Templates</a>
        </li>
        <li class='col-lg-1'>
            <a href='/admin/categories'>Users</a>
        </li>
        <li class='col-lg-1'>
                <a href='/admin/categories'>Files</a>
            </li>
    </ul>
</div>