<!doctype html>
<html>
    <head>
        <title>Polls</title>
        <meta name='description' content=''>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- <link rel="stylesheet" href=<%= '/admin/public/public/css/css.css' %>> -->
    </head>
